.cover__link {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 33px 16px;
  background: url(../../../images/cover-trains.jpg) no-repeat 50%;
  background-size: cover;
  text-decoration: none;
  color: inherit;
}

.cover__link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #2a2c2f;
  opacity: 30%;
  content: '';
  transition: opacity .5s ease;
}

.cover__link:hover::after {
  opacity: 80%;
}

@media (min-width:768px) {

  .cover__link {
    padding: 115px 104px;
  }
}

@media (min-width:1024px) {

  .cover__link {
    padding: 195px 232px;
  }
}

@media (min-width:1280px) {

  .cover__link {
    padding: 245px 312px;
  }
}
