.page {
  padding-top: 16px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #fff;
  max-width: 1184px;
  margin: 0 auto;
}

@media (min-width:768px) {

  .page {
    padding-top: 28px;
  }
}
