.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 12px;
  padding: 0 16px;
}

@media (min-width:768px) {

  .photo-grid {
    gap: 16px;
    padding: 0 24px;
  }
}

@media (min-width:1024px) {

  .photo-grid {
    gap: 14px;
    padding: 0 48px;
  }
}

@media (min-width:1280px) {

  .photo-grid {
    gap: 16px;
  }
}
