.cover__subtitle {
  margin: 0;
  max-width: 288px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width:768px) {

  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}
