.place__text {
  font-size: 16px;
  line-height: 163%;
  color: #fff;
  margin: 0;
}

.place__text:first-of-type {
  margin-bottom: 25px;
}

@media (min-width: 1024px) {
  .place__text {
    font-size: 18px;
  }

  .place__text:first-of-type {
    margin-bottom: 27px;
  }
}

@media (min-width: 1280px) {
  .place__text:first-of-type {
    margin-bottom: 26px;
  }
}
