.lead__image {
  margin-bottom: 8px;
  width: 100%;
}

@media (min-width:1024px) {

  .lead__image {
    max-width: 928px;
  }
}

@media (min-width:1280px) {

  .lead__image {
    max-width: 984px;
  }
}
