.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 16px;
}

@media (min-width:768px) {

  .intro {
    padding-left: 24px;
  }
}

@media (min-width:1024px) {

  .intro {
    padding-left: 48px;
  }
}

@media (min-width:1280px) {

  .intro {
    padding-left: 100px;
  }
}
