.place__link {
  border-bottom: 1px solid #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  transition: opacity .5s ease;
  color: inherit;
}

.place__link:hover {
  opacity: 80%;
}
