.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 64px 16px 24px;
}

@media (min-width:768px) {

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 88px 24px 24px;
  }
}

@media (min-width:768px) {

  .footer {
    padding: 92px 48px 24px;
  }
}
