.footer {
  padding: 64px 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 92px 48px 24px;
  }
}
